@import url('https://fonts.googleapis.com/css2?family=Roboto:ital@1&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
header {
    height: 150px;
    background-color: #212121;
}

.container_grid {
    width: 1870px;
    margin: 0 auto;
}

.posicionamento_header {
    height: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.menu {
    width: 900px;
    display: flex;
    justify-content: space-between;
}

.menu a {
    color: white;
    text-decoration: none;
    text-transform: uppercase;
    font-family: 'Roboto', sans-serif;
    font-size: 36px;
}

.banner {
    background-image: url(../img/tinytinas.png);
    height: 550px;
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
}

.itens_banner {
    height: 100%;
    display: flex;
    justify-content: flex-end;
    align-items: center;
}

.texto_banner {
    color: white;
    width: 300px;
    text-align: center;
    font-family: 'Roboto', sans-serif;
    font-size: 24px;
}

.texto_banner a {
    color: white;
    background-color: black;
    text-decoration: none;
    text-transform: uppercase;
    padding: 15px;
    border-radius: 10px;
}

.secao_imagens {
    height: 200px;
    background-color: black;
}
.imagens {
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 100%;
    max-width: 1725px;
}

.secao_produtos {
    height: 1335px;
    background-color: #212121;
}
.produtos {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    height: 100%;
    max-width: 1725px;
    flex-wrap: wrap;
    padding-top: 15px;
    padding-bottom: 15px;
}
.produtos h1 {
    color: white;
    font-family: 'Roboto', sans-serif;
    text-transform: uppercase;
}
.produtos h2 {
    color: royalblue;
    font-family: 'Roboto', sans-serif;
    text-transform: uppercase;
}

footer {
    height: 200px;
    background-color: black;
}
.secao_footer {
    display: flex;
    justify-content: space-between;
    max-width: 1700px;
}

.navegue {
    color: white;
    margin: 15px;
    padding: 15px;
    text-transform: capitalize;
    font-family: 'Roboto', sans-serif;
}
.navegue h1 {
    font-size: 24px;
    font-weight: bold;
}
.navegue a {
    display: flex;
    color: white;
    text-decoration: none;
    font-size: 18px;

}
.recursos {
    color: white;
    margin: 15px;
    padding: 15px;
    text-transform: capitalize;
    font-family: 'Roboto', sans-serif;
}
.recursos h1 {
    font-size: 24px;
    font-weight: bold;
}
.recursos a {
    display: flex;
    color: white;
    text-decoration: none;
    font-size: 18px;

}
.social {
    color: white;
    margin: 15px;
    padding: 15px;
    text-transform: capitalize;
    font-family: 'Roboto', sans-serif;
}
.social h1 {
    font-size: 24px;
    font-weight: bold;
}
.social a {
    display: flex;
    color: white;
    text-decoration: none;
    font-size: 18px;

}
.loja {
    color: white;
    margin: 15px;
    padding: 15px;
    text-transform: capitalize;
    font-family: 'Roboto', sans-serif;
}
.loja h1 {
    font-size: 24px;
    font-weight: bold;
}
.loja a {
    display: flex;
    color: white;
    text-decoration: none;
    font-size: 18px;

}
.devs {
    color: white;
    margin: 15px;
    padding: 15px;
    text-transform: capitalize;
    font-family: 'Roboto', sans-serif;
}
.devs h1 {
    font-size: 24px;
    font-weight: bold;
}
.devs a {
    display: flex;
    color: white;
    text-decoration: none;
    font-size: 18px;

}