@import url('https://fonts.googleapis.com/css2?family=Roboto:ital@1&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
header {
    height: 150px;
    background-color: #212121;
}

.container_grid {
    width: 1920px;
    margin: 0 auto;
}

.posicionamento_header {
    height: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.menu {
    width: 900px;
    display: flex;
    justify-content: space-between;
}

.menu a {
    color: white;
    text-decoration: none;
    text-transform: uppercase;
    font-family: 'Roboto', sans-serif;
    font-size: 36px;
}

.banner {
    background-image: url(../img/tinytinas.png);
    height: 550px;
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
}

.itens_banner {
    height: 100%;
    display: flex;
    justify-content: flex-end;
    align-items: center;
}

.texto_banner {
    color: white;
    width: 300px;
    text-align: center;
    font-family: 'Roboto', sans-serif;
    font-size: 24px;
}

.texto_banner a {
    color: white;
    background-color: black;
    text-decoration: none;
    text-transform: uppercase;
    padding: 15px;
    border: 10px;
}

.secao_imagens {
    height: 200px;
    background-color: black;
}
.imagens {
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 100%;
    max-width: 1725px;
}

.secao_produtos {
    height: 1335px;
    background-color: #212121;
}
.produtos {
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 100%;
    max-width: 1725px;
    flex-wrap: wrap;
}