@import url('https://fonts.googleapis.com/css2?family=Roboto:ital@1&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Signika+Negative&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
header {
    height: 130px;
    background-color: #212121;
}

.container_grid {
    width: 90%;
    margin: 0 auto;
}

.posicionamento_header {
    height: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.menu {
    width: 900px;
    display: flex;
    justify-content: space-between;
}

.menu a {
    color: white;
    text-decoration: none;
    text-transform: uppercase;
    font-family: 'Roboto', sans-serif;
    font-size: 36px;
}

.barras {
    width: 30px;
    display: none;
}

.banner {
    background-image: linear-gradient(rgba(0, 0, 0 ,0.5), rgba(0, 0, 0 ,0.5)), url(../img/tinytinas.png);
    height: 550px;
    background-repeat: no-repeat;
    background-position: left;
    background-size: cover;
}

.itens_banner {
    height: 100%;
    display: flex;
    justify-content: flex-end;
    align-items: center;
}

.texto_banner {
    color: white;
    width: 300px;
    text-align: center;
    font-family: 'Roboto', sans-serif;
    font-size: 24px;
}

.texto_banner a {
    color: white;
    background-color: black;
    text-decoration: none;
    text-transform: uppercase;
    padding: 15px;
    border-radius: 10px;
}

.secao_imagens {
    height: 200px;
    background-color: black;
}
.imagens {
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 100%;
    max-width: 1725px;
}

.secao_produtos {
    height: 1335px;
    background-color: #212121;
}
.produtos {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    height: 100%;
    max-width: 1725px;
    flex-wrap: wrap;
    padding-top: 15px;
    padding-bottom: 15px;
}
.produtos h1 {
    color: white;
    font-family: 'Roboto', sans-serif;
    text-transform: uppercase;
}
.produtos h2 {
    color: royalblue;
    font-family: 'Roboto', sans-serif;
    text-transform: uppercase;
}

/* footer */
footer {
    height: 200px;
    background-color: black;
}
.secao_footer {
    display: flex;
    justify-content: space-between;
    max-width: 1700px;
}

.navegue {
    color: white;
    margin: 15px;
    padding: 15px;
    text-transform: capitalize;
    font-family: 'Roboto', sans-serif;
}
.navegue h1 {
    font-size: 24px;
    font-weight: bold;
}
.navegue a {
    display: flex;
    color: white;
    text-decoration: none;
    font-size: 18px;

}
.recursos {
    color: white;
    margin: 15px;
    padding: 15px;
    text-transform: capitalize;
    font-family: 'Roboto', sans-serif;
}
.recursos h1 {
    font-size: 24px;
    font-weight: bold;
}
.recursos a {
    display: flex;
    color: white;
    text-decoration: none;
    font-size: 18px;

}
.social {
    color: white;
    margin: 15px;
    padding: 15px;
    text-transform: capitalize;
    font-family: 'Roboto', sans-serif;
}
.social h1 {
    font-size: 24px;
    font-weight: bold;
}
.social a {
    display: flex;
    color: white;
    text-decoration: none;
    font-size: 18px;

}
.loja {
    color: white;
    margin: 15px;
    padding: 15px;
    text-transform: capitalize;
    font-family: 'Roboto', sans-serif;
}
.loja h1 {
    font-size: 24px;
    font-weight: bold;
}
.loja a {
    display: flex;
    color: white;
    text-decoration: none;
    font-size: 18px;

}
.devs {
    color: white;
    margin: 15px;
    padding: 15px;
    text-transform: capitalize;
    font-family: 'Roboto', sans-serif;
}
.devs h1 {
    font-size: 24px;
    font-weight: bold;
}
.devs a {
    display: flex;
    color: white;
    text-decoration: none;
    font-size: 18px;

}

@media screen and (max-width: 1380px) {
    header {
        height: 120px;
    }
   .posicionamento_header img {
       max-width: 90%;
       max-height: 100px;
   }

   .menu{
       width: 700px;
   }
   .menu a {
        font-size: 16px;
        padding-right: 15px;
   }
   .secao_imagens {
       height: 150px;
       width: 100%;
   }
   .imagens {
    display: flex;
    justify-content: space-between;
    align-items: center;
    max-width: 100%;
   }
   .imagens img {
       max-height: 130px;
       max-width: 100%;
   }

   .produtos img {
       max-width: 400px;
       max-height: 100%;
   }

}

@media screen and (max-width: 768px) {
    
    .banner {
        height: 360px;
    }

    .posicionamento_header {
        display: flex;
        flex-direction: row;
        position: relative;
    }

    .menu {
        display: none;
        flex-direction: column;
        width: 130px;
        height: 200px;
        background-color: black;
        border-radius: 15px;
        padding: 15px;
        position: absolute;
        top: 0;
        right: 70px;
    }

    .menu a {
        text-align: center;
    }

    .barras {
        display: inline-block;
        width: 60px;
    }

    .secao_imagens {
        display: none;
    }

    .produtos img {
        max-width: 270px;
    }


    /* footer */
    .navegue h1 {
        font-size: 20px;
    }

    .navegue a {
        font-size: 16px;
    }

    .recursos h1 {
        font-size: 20px;
    }

    .recursos a {
        font-size: 16px;
    }
    
    .social h1 {
        font-size: 20px;
    }

    .social a {
        font-size: 16px;
    }

    .loja h1 {
        font-size: 20px;
    }
    
    .loja a {
        font-size: 16px;
    }

    .devs h1 {
        font-size: 20px;
    }
    
    .devs a {
        font-size: 16px;
    }

}


@media screen and (max-width: 320px) {
    
}